// $accent: #264653;
// $accent-dark: #9e9e9e;
// $main-color: #333;
// $gray: #c6c6c6;
// $bg-light: #fff;
// $bg-dark: #f3fbee;
// $bg-black: #11171c;
// $link-footer: #70b1cc;

// $header-font: 'Lato', sans-serif;
// $main-font: 'Roboto', sans-serif;

// $logo-width: 317px;
// $logo-height: 60px;


$body-bg: #e5e5e5;

$font-std: Tahoma, Arial, sans-serif;
$font-head: 'Lato', Arial, sans-serif;
$font-title: 'Oswald', Arial, sans-serif;

$nav-top-color: #FFF;
$nav-bottom-color: #FFF;

$content-font-size: 12px;

$content-color-text: #282828;
$content-color-link: #264653;
$content-color-link-hover: #232323;


$footer-bg: #323136;
$footer-copyright-bg: #fff;

.nopadding {
	padding: 0 !important;
}